.main { 
    width: 100%;
    margin: 0,auto;
   
   }

   /***** Section one  ***/

  .section_one{

    display: flex;
    margin-top: 30px;
}
.first_part h1{
    width: 458px;
    height: 233px;
    margin-top: 20px;
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    
}

.first_part p{
    width: 348px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;

}
.last_part img{
    width: 352px;
    height: 304px;
    padding-top: 40px;
    margin-left: 0px;
    
}