 
.main { 
 width: ;
 margin: 0,auto;
  
}

nav {
    padding: 15px 8px;
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    width: auto; 
}

nav div a {

    padding: 5px 2px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 300;
}
nav ul li a {
   
    font-size: 10px;
     
}

nav img {
    width: 40px;
    height: 30px;
 
}

nav .img2{
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-left: 7px;
}
nav div span{
    font-size: 12px;
    font-weight:300;
    margin-right: 10px;
}
/* ******section one******* */

.section_one{

    display: block;
    margin-top: 20px;
    width: 500px;
}
.first_part ul li{
    
    padding: 10px;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;    
    margin: 0 auto;
    
}

.first_part h1{
    width: 370px;
    height: 70px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600; 
    padding-left: 15px
    
}
.first_part p{
    width: 300px;
    height: 50px;
    font-size: 10px;
    font-weight: 200;
    line-height: 15px;
    margin-left: 20px;
      
}
.btn1 {
    min-width: 80px;
    padding: 10px;
    font-size: 10px;
    font-weight: 200;
    margin-top: 40px;
    margin-left: 60px;

     
}
.btn2 {
    min-width: 80px;
    padding: 8px;
    font-size: 10px;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 13px;
     
}
.last_part img{
    width: 255px;
    height: 250px;
    padding-top: 20px;
    margin-left: 60px;


    
}
.last_part .icon1{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 200px;
    margin-left: -18px;  
   
}
.last_part .icon2{
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 290px;
 
}
.last_part .icon3{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 170px;
    margin-left: 50px; 
}

/* ******section two**** */
.section_two{
    display: block;
}

.section_two .left h2{
width: 300px;
height: 32px;
font-weight: 600;
font-size: 24px;
line-height: 30px;
padding-top: 40px;
 margin: 0 auto;
}
.section_two .left p{
    width: 250px;
    height: 114px;
    font-size: 12px;
    font-weight: 170;
    line-height: 16px;
    margin: 0 auto;
    
}
.section_two .right img{
    width: 45px;
    height: 22px;
    padding-top: 30px;
    padding-left: 30px;
    margin:  0 auto;
}

/* ******section three **** */

.section_three{
    display: block;
    
    justify-content:  center;
    padding-left: 30px;
    padding-top:20px;
    
}
.section_three img{
    margin-top: 50px;
    
}

.section_three div h2{
    width: 130px;
    height: 20px;
    margin-top: 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto;
    
}
.section_three div p{
    margin: top 60px;
    width: 122px;
    height: 42px;
    font-weight: 150;
    font-size: 10px;
    line-height: 10px;
     
    margin: 0 auto;
     
}
 
/****** Section Four ********/

.section_four{
    display: flex;
    justify-content: center;
    
}
.section_four  h2{
    width: 400px;
    height: 80px; 
    margin-left: 100px;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 50px;
        
}
.section_four div p{
    width: 400px;
    height: 25px;
    
    font-weight: 150;
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    margin-left: 120px;
    padding: 20px;
    
}
.section_four div .spanheader {
    width: 99px;
    height: 25px;
    
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    
    margin-top: 250px;
    margin-left:150px;
    
    }
    .discount{
        height: 20px;
        width: 5px;

    }
    .priceheader2 ul li{
        margin-top: 100px;
        padding: 0 10px;
        width: 53px;
        height: 40px;
        font-weight: 300px;
        font-size: 20px;
        line-height: 40px;
        margin-left: 30px;
        
        
    }
    .spanheader .btn {
        width: 63px;
        height: 30px;
        margin-top: 20px;
        border-radius: 73px;
        background:#B00000 ;
        border: none;
        cursor: pointer;
        
    }
     .btn span{
    
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 5px;   
         
     }
     .priceheader2 ul li{
        display: inline-block;
        margin-top: 70px;
        padding: 0 40px;
        width: 0px;
        height: 40px;
        font-weight: 300px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        margin-left: 100px;
        
    }
    
    .priceheader2 ul {
        border-bottom: 1px solid;
        border-image:   linear-gradient(to right,  #B00000 50%, #E5E5E5 30%  )2;
     
    }

    /* *******section five***** */

    .section_five{
        display: block;
        margin-top: 20px;
        margin-left: 70px;
        justify-content:;
        align-items: center;

        
        
         
    }
    .single_price_table {
      
        margin: 15px auto;
       
    }
    .single_price_table{
        border:1px solid #ebebeb;
        border-radius: 10px;
        width: 220px;
        height: 500px;
    
    }
    .single_price_table h2{
        width: 30px;
        height: 25px;
        
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 15px;
    margin-left: 34px;
    text-align: center;
     
    }
    .single_price_table p{
        width: 100px;
        height: 54px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 35px;
    
    }
    .single_price_table h1{
        width: 30px;
    height: 32px;
    margin-top: 65px;
    margin-left: 35px;
     
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
     
    
    }
    .single_price_table button{
        width: 100px;
    height: 20px;
    margin-left: 35px;
    border-radius: 5px;
    border: 2px;
    border: 1px solid black;  
    font-size: 10px;
    
    }
    .single_price_table span p{
        width: 120px;
        height: 12px;
        left: 38px;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    }
    .single_price_table span i{
        width: 24px;
        height: 24px;
        padding: 7px, 3px, 4px, 3px;
        width: 12px;
    height: 12px;
    margin-right: 5px;
        
    }

    /****** Section six ******/
    .section_six{
        display: block;
    column-gap: 2px;
    justify-content: ;
    }
    .div6child1{
        /* width: Fixed (245px); */
        height: Hug (100px);
         margin-top: px;
        margin-left: 90px;
        width: 300px;
         
    }
    .div6child1 img{
        width: 42px;
    height: 40px;
    margin-right:0px;
    
    }
    .div6child1 h2{
        width: 245px;
    height: 40px;
     margin-left: 20px;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    
    }
     .div6child1 p {
        width: 245px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 37px;
    margin-top: 15px;
    
    
    }
    .div6child2{
        width: 250px;
        /* width: 250px; */
        height: 300px;
        border-radius: 8px;
        margin-left: 90px;
        box-shadow: 0px 10px 20px 0px #29292A12;
    }
    .div6child2 .img2{
        width: 40px;
        height:40px;
        margin-left: 35px;
    }
    .div6child2 span p {
        width: 154px;
        height: 52px;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 1px;
        margin-left: 20px;
        
    }
    .div6child2 h3 {
        width: 101px;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 70px;
        margin-left: 20px;
        margin-bottom: 10px;
    
    }
    .div6child2 h4 {
        width: 180px;
        height: 20px; 
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        margin-left: 20px;
         
    }
    .div7{
    
        margin-top: 40px;
        margin-left: 90px;
    
    }
    .div7child1{
        box-shadow: 0px 10px 20px 0px #29292A12;
        /* width:245px ; */
        width: 250px;
        height: 285px;
        border-radius: 8px;
        
    }
    .div7child2{
        box-shadow: 0px 10px 20px 0px #29292A12;
        /* width:200px; */
        width: 200px;
        height: 276px;
        border-radius: 8px;
        margin-top: 20px;
    }
    .div7child1 img {
        width: 40px;
        height: 20px;
        margin-top: 20px;
        margin-left: 24px;
    
    }
    .div7child1 p {
        width: 149px;
        height: 146px;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .div7child1 h3 {
        width: 114px;
        height: 28px;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
        margin-left: 20px;
        margin-top: 10px;
    
    }
    
    .div7child1 h4 {
        width: 72px;
        height: 24px;
        font-size: 10px;
        font-weight: 500;
        line-height: 24px;
        margin-left: 20px;
    }
    .div7child2{
        height: 195px;
    }

    .div7child2 .img2 {
        width: 60px;
        height: 43px;
        margin-top: 15px;
        margin-left: 20px;
    
    }
    .div7child2 p{
        width: 154px;
        height: 64px;
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
        margin-left: 20px;

    }
    .div7child2 h3{
        width: 131px;
        height: 28px;
        font-weight: 700;
        font-size: 12px;
        line-height: 28px;
        margin-top: 0px;
        margin-left: 20px;
        
        }
        .div7child2 h4{
        width: 211px;
        height: 24px;
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        margin-left: 20px;
        
        }

 /****** Section seven ******/

.section_seven{
    display: block;
    margin-top: 30px;
    
}
.divchild1 {
    /* width: 330px; */
    height: 170px;
    width: 500px;
    
   
}

.divchild2 {
    /* width: 330px; */
    height: 170px;
    width: 400px;
     
}

.divchild1 h2 {
    width: 170px;
    height: 38px;
    font-size: 12px;
    font-weight:800;
    line-height: 20px;
   margin: 0 auto;
}

.divchild1 p {
    width: 155px;
    height: 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
}
.divchild2 img {
   
    height:50px ;
    width:80px ;
   
}

/****** Section eight ******/
.section_eight{
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.section_eight div{
    height: 270px;
    width: 320px;
    background: #F7FAFE;
}
.section_eight h1 {
    width: 300px;
    height: 146px;
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    margin: 0 auto;
   
}
.section_eight button {
    width: 90px;
    height: 28px;
    margin-top: 0px;
    margin-left: 70px;
    border-radius: 8px;
    font-size: 10px;
     
    
}
.section_eight div .icon3{
    margin-left: 150px;
}
.section_eight div .iconb{

    margin-top:15px ;                                                                                                                                                                                                                                                                                             
    margin-left: 0px;
     
    }
    
.section_eight div .icon2{
    margin-top: 1px;
   margin-left: 0px;
  height: 60px;
 
}

/****** Footer *********/

.footer{
    margin-top: 50px;
    width: 500px;
}
.fmain {
    display: block;
    justify-content:center;
    align-items: center;
    
     
}
.fmain div {
    padding: 15px;
         
}
.divfooter1 img {  
    width: 80px;
    height: 60px;
    margin-left:150px;
}
.divfooter1 p {
    width: 196px;
    height: 160px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;

}
.divfooter2 h3 {
   
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 170px;
  
  }

.divfooter2 p {
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    margin:  0 auto;
}

.divfooter3 h4 {
   
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
   margin-left: 160px;
     
     
}

.divfooter3 p {
  
    height: 32px; 
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    margin:  0 auto;
  
}
.divfooter4 h4 {
    width: 62px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; 
    margin-left: 165px;
}

.divfooter4 p {
    width: 117px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;

}

.divfooter5 h4 {
    width: 62px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 170px;
     
}

.divfooter5 p {
    width: 117px;
    height: 32px;
    font-size: 10px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;
}
.lastdiv{
    height: 32px;
    font-weight: 400;
    font-size: 12px;
    margin: 0 auto;
   
  
}






