* {
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    max-width: 1325px;
    margin: 0 auto ;
}
/****** Responsive*******/


/**** Navbar ****/

nav {
    padding: 30px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
     
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #000000; */
}

nav img {
    width: 90px;
    height: 60px;
 
}

nav .img2{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 1px;
    
}

nav div a {

    padding: 10px 15px;
    margin-left: 60px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

nav div a:hover{
         
    border-bottom: 2px solid #B00000;
       
      }

      nav div a.active {
        /* border-bottom: 2px solid #B00000; */
        position: relative;
      }

      nav div a.active::before{
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;
        width: 60%;
        height: 2px;
        background-color: #B00000;
        transform: translateX(-50%);
      }

    .account{
        margin: 0;
        padding: 0 20px;
        border-right: 1px solid  #DAD8D8;

      }


nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}

nav div span{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.nav_middle{

    margin-left: 0px ;  
  
}

/***** Section one  ***/

.section_one{

    display: flex;
    margin-top: 40px;
    
}
.first_part ul{

    /* border-bottom: 2px solid #D6D4D4E0; */
    display:inline-block ;
    border-bottom: 2px solid;
    border-image:   linear-gradient(to right,  #B00000 20%, #E5E5E5 10%  )2;
}
.first_part ul li{
    display: inline-block;
    margin-top: 30px;
    padding: 3px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color:  #D6D4D4E0;
    cursor: pointer;
    
}


.first_part ul li.active{
    color: #B00000; 
    /* border-bottom: 1px solid #B00000; */
} 

.first_part h1{
    width: 608px;
    height: 233px;
    margin-top: 30px;
    font-size: 64px;
    line-height: 77.5px;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    color:  #2E2E2E;
    

}
.first_part p{
    width: 448px;
    height: 56px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5%;
    line-height: 28px;
    color: #808080;
    margin-top: 30px;

}
.btn1 {
    min-width: 160px;
    padding: 14px;
    border-radius: 8px;
    background:#B00000;
    color:#FFFFFF ;
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px;
    gap: 10px;
    font-family: 'Poppins',sans-serif ;
    border: none;
    box-shadow: 0px 0px 64px 0px #B000004D;
    cursor: pointer;

}
.btn2 {
    min-width: 160px;
    padding: 12px;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #000000;
    background-color:#FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px;
    gap: px;
    margin-left: 25px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif ;
}

.btn1:hover {
background-color:#B00000;
color:#FFFFFF;
}
.btn2:hover {
    background-color:#B00000;
    color:#FFFFFF;
    }
    .btn1 #active {
        background-color:#B00000;
        color:#FFFFFF;
        } 

.last_part img{
    width: 552px;
    height: 504px;
    padding-top: 40px;
    margin-left: 200px;
    
}
.last_part .icon1{
    position: absolute;
    width: 72px;
    height: 72px;
    margin-top: 380px;
    margin-left: -45px;
     
}
.last_part .icon2{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 110px;
    margin-left: 737px;
  
    
}
.last_part .icon3{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 320px;
    margin-left: 170px; 
}


/****** Section Two ******/

.section_two{
    display: flex;
    column-gap: 50px;
}
.section_two .left{
    flex-basis: 60%;
}
.section_two .left h2{
width: 594px;
height: 64px;
font-family: 'Inter', sans-serif;
font-weight: 800;
font-size: 48px;
line-height: 64px;
padding-top: 60px;
color:  #18191F;

}
.section_two .left p{
    width: 573px;
    height: 224px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #18191F;
}
.section_two .right img{
    width: 140px;
    height: 45px;
    padding-top: 60px;
    padding-left: 83px;
}

/******** Section Three ******/

.section_three{
    display: flex;
    column-gap: 70px;
    text-align: center;
    padding-left: 35px;
    padding-top: 40px;
}
.section_three div h2{
    width: 260px;
    height: 30px;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}
.section_three div p{
    width: 252px;
    height: 72px;
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color:  #000000;
}

/****** Section Four ********/

.section_four{
    display: flex;
    justify-content: center;
}
.section_four  h2{
    text-align: center;
    width: 650px;
    height: 120px;
    
    font-family:'Poppins',sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 80px;
    color: #000000;     
}
.section_four div p{
    width: 464px;
    height: 25px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    padding-top: 40px;
    margin-left: 100px;
    padding: 20px;

    
}
.section_four div .spanheader {
width: 99px;
height: 25px;
font-family: 'poppins',sans-serif;
font-size: 25px;
line-height: 25px;
font-weight: 400;
color: #000000;
margin-top: 250px;
margin-left:170px;

}
  
 .btn span{
    
    display: block;
    background:white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 5px;   
     
 }
 
 .priceheader .spanheader{
    margin-top: 50px;
     
 }
  .spanheader .btn {
    width: 83px;
    height: 40px;
    margin-top: 20px;
    border-radius: 73px;
    background:#B00000 ;
    border: none;
    cursor: pointer;
    
}
.priceheader .discount{
    width: 87px;
    height: 24px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
    border-radius: 8px;
    padding: 5px;
    padding-top: px;
    margin-left: 17px;
    text-align: center;
    color:   #000000;
    background: #FFE87A;

}
.priceheader2 ul li{
    display: inline-block;
    margin-top: 100px;
    padding: 0 80px;
    width: 83px;
    height: 40px;
    font-weight: 600px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color:#000000;
    margin-left: 50px;
    
}

.priceheader2 ul {
    /* border-bottom: 3px solid #D6D4D4E0; */
    border-bottom: 4px solid;
    border-image:   linear-gradient(to right,  #B00000 50%, #E5E5E5 50%  )2;

}
.priceheader2 ul li:hover{
/* border-bottom: 4px solid  #B00000;
width: 130px; */
}
.priceheader2 ul li.active{
    /* border-bottom: 3px solid  #B00000;
width: 180px; */

}

/***** Section Five *****/

.section_five{
    display: flex;
    column-gap: 80px;
    margin-top: 110px;
    justify-content: center;
}

.single_price_table{
    border:2px solid #ebebeb;
    border-radius: 10px;
    width: 299px;
    height: 716px;
}

.single_price_table h2{
    width: 98px;
    height: 25px;
    font-family: 'Poppins',sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 25px;
margin-top: 34px;
margin-left: 34px;
text-align: center;
color:  #000000;
}

.single_price_table p{
    width: 237px;
    height: 54px;
    font-family:'Inter', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 18px;
margin-top: 20px;
margin-left: 35px;
text-align: left;

}

.single_price_table h1{
    width: 117px;
height: 32px;
margin-top: 24px;
margin-left: 35px;
font-family: 'Poppins';
font-size: 42px;
font-weight: 600;
line-height: 32px;
color: #000000;

}

.single_price_table button{
    width: 235px;
height: 50px;
margin-top: px;
margin-left: 35px;
border-radius: 12px;
border: 2px;
background-color: white;
border: 2px solid black;  
cursor: pointer;

}
.single_price_table span p{
    width: 256px;
    height: 24px;
    left: 48px;
    
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color:  #808080;


}
.single_price_table span i{
    width: 24px;
    height: 24px;
    padding: 7.29px, 3.29px, 4.58px, 3.29px;
    width: 17.42px;
height: 12.13px;
margin-top: 7.29px;
margin-left: 3.29px;
margin-right: 10px;
color:  #000000;
    
}

/****** Section six ******/

.section_six{
    display: flex;
column-gap: 30px;
justify-content: center;
}

.div6{
    display: inline-block;
}

.div6child1{
    width: Fixed (445px);
    height: Hug (168px);
    top: 46px;
    margin-left: 159px;
      
}

.div6child2{
    width: 350px;
    height: 458px;
    border-radius: 8px;
    margin-left: 300px;
    box-shadow: 0px 10px 20px 0px #29292A12;
    align-items: center;
    justify-content: center;
    
}

.div7{
    
    margin-top: 140px;

}

.div7child1{
    box-shadow: 0px 10px 20px 0px #29292A12;
    width:445px ;
    height: 360px;
    border-radius: 8px;
    
}
.div7child2{
    box-shadow: 0px 10px 20px 0px #29292A12;
    width:350px;
    height: 276px;
    border-radius: 8px;
    margin-top: 20px;
}

.div6child1 img{
    width: 142px;
height: 120px;
margin-right:0px;

}
.div6child1 h2{
    width: 445px;
height: 128px;
 margin-left: 90px;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 800;
line-height: 64px;
color:  #18191F;

}
 .div6child1 p {
    width: 445px;
height: 32px;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: left;
margin-left: 90px;
color: #18191F;

}
.div6child2 .img2{
    width: 120px;
    height: 120px;
    margin-left: 65px;
}
.div6child2 span p {
    width: 254px;
    height: 152px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 1px;
    margin-left: 60px;
    color: #000000;
}
.div6child2 h3 {
    width: 101px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 10px;

}
.div6child2 span {
    /* width: 127px;
    height: 24px;
    font-family:'inter',sans-serif;
    font-weight: 500px;
    font-size: 18px;
    line-height: 24px;
    color: #969BAB; */

}
.div6child2 h4 {
    width: 180px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 60px;
    color: #969BAB;

}
.div7child1 img {
    width: 78px;
    height: 50px;
    margin-top: 50px;
    margin-left: 54px;

}

.div7child1 p {
    width: 349px;
    height: 146px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
    margin-left: 50px;
}

.div7child1 h3 {
    width: 114px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 50px;
    margin-top: 20px;
    color: #18191F;


}

.div7child1 h4 {
    width: 72px;
    height: 24px;
    font-family:'Inter',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #969BAB;
    margin-left: 50px;
}

.div7child2 .img2 {
    width: 120px;
    height: 63px;
    margin-top: 41px;
    margin-left: 50px;

}
.div7child2 p{
    width: 254px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-left: 50px;
    color:  #18191F;
}
.div7child2 h3{
width: 131px;
height: 28px;
font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #18191F;
margin-top: 10px;
margin-left: 50px;

}
.div7child2 h4{
width: 211px;
height: 24px;
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 24px;
margin-left: 50px;
color: #969BAB;

}
 
/****** Section seven ******/

.section_seven{
    display: flex;
    margin-top: 100px;
}

.divchild1 {
    width: 850px;
    height: 270px;
   
}

.divchild2 {
    width: 850px;
    height: 270px;
     
}

.divchild1 h2 {
    width: 445px;
    height: 128px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    text-align: left;
    margin-left: 100px;
    color: #18191F;
}

.divchild1 p {
    width: 445px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 100px;
    color: #18191F;

}

.divchild2 img {
    margin-left: 80px;
    padding: px;
}

/****** Section eight ******/

.section_eight{
    display: flex;
    justify-content: center;
   
    margin-top: 50px;
  
}
.section_eight div{
    height: 440px;
    width: 1100px;
    background: #F7FAFE;
   
}

.section_eight h1 {
    width: 1024px;
    height: 176px;
    left: 208px;
    font-family: 'Poppins',sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 88px;
    text-align: center;
    color: #2E2E2E;
}

.section_eight button {
    width: 208px;
    height: 48px;
    margin-top: 80px;
    margin-left: 416px;
    padding: 12px, 16px, 11px, 16px;
    border-radius: 8px;
    gap: 10px;
    background: #B00000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.section_eight div .icon3{
    margin-left: 320px;
}
.section_eight div .iconb{

    margin-top:140px ;
    float:left ;
    margin-left: 0px;
     
    }
    
.section_eight div .icon2{
    margin-top: 120px;
  margin-right: -25px;
  float: right;
}


/****** Footer *********/

.footer{
    display:block;
    justify-content: center;
    background: #B00000;
    margin-top: 150px;
}


.fmain {
    position:  relative;
    display: flex;
    justify-content: center;
    align-items: center;
        
        
   
}

.fmain div {
    padding: 65px;
    
}

.divfooter1 img {
    padding: px;
    width: 120px;
    height: 80px;
    margin-top: px;
    margin-left: 1px;
}

.divfooter1 p {
    width: 296px;
    height: 160px;
    color: #E6E6E6;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
}

.divfooter2 h3 {
    width: 60px;
    height: 24px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 5px;
}

.divfooter2 p {
    width: 117px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 5px;
    color: #E6E6E6;

}

.divfooter3 h4 {
    width: 65px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 5px;

}

.divfooter3 p {
    width: 147px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 5px;
    color: #E6E6E6;

}

.divfooter4 h4 {
    width: 62px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 5px;
}

.divfooter4 p {
    width: 117px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 5px;
    color: #E6E6E6;

}

.divfooter5 h4 {
    width: 62px;
    height: 24px;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 5px;
}

.divfooter5 p {
    width: 117px;
    height: 32px;
    font-family:'Inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding:5px;
    color: #E6E6E6;

}
.lastdiv{
    width: 400px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 auto;    
}